.menuNav{
    z-index: 1;
    background: rgba(2, 66, 92, 0.486);
    backdrop-filter: saturate(180%) blur(10px);
    width: 50%;
    Max-width:500px;
    padding:50px 10px;
    position: absolute;
    margin:auto;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: snow;

}
.logo h1{
    color: #002343;
    margin: 10px;
}
.menuNav ul li{
   list-style: none;
   text-align: center;
   margin: 20px;
   display: block;
}
.hideNav{
   
    margin-left: -300px;
    position: absolute;
}
.hamburger {
    display: block;
    
        background-color: #002343;
    border: 2px solid snow;
    padding: 3px;
    border-radius: 5px;
    position: absolute;
    top: 1%;
    font-weight: bolder;
    z-index: 2;
    left: 85%;
}

.bar {
    width: 30px;
    height: 3px;
    display: block;
    margin: 3px 0;
    background-color: snow;

}

a {
    text-decoration: none;
    color: snow;
}

.activate {
    color:  #f0b400 !important;
    font-weight: 900;
    font-size: 18px;
}
