.container{

    color: #f0b400;
    background-color: #002343;
    width: 100%;
    max-width: 400px;
    margin: auto;

}
header{

    padding: 20px;
    padding-bottom: 40px;
    display: grid;
    grid-gap: 110px;
    grid-template-columns: 2fr 1fr;

}
header h1{
    margin-top: 40px;
}
header span{
    color: snow;
    display: block;
}
.header .name{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 20px;
}
header p {
    margin-bottom: 30px;
    color: snow;
}
.set-count{
  margin-top: 90px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;

}
.set-count label{
  font-size: 10px;
}
.set-count input{
  width: 50px;
  height: 4vh;
}


header p{
    color: snow;
}
.header h2{
    color: snow;
    margin-bottom: 20px;
    text-align: center;
}
.sect{
    padding: 20px;
    background-color: snow;
}
.sect .form-control{
    background-color: #fbb117;
    margin-top: -70px;
    padding: 20px;
    margin-left: -9px;
    width: 105%;
    border-radius: 20px;
 }
 .sect .form-control input{
    border: none;
    outline: none;
    background-color: transparent;
    color: snow;
 }
 .sect .form-control input::placeholder{
    color: snow;
    font-size: 15px;
 }
 .sect .form-control .btn-add{
    background-color: snow;
    color: #1c1c1c;
    border: none;
    border-radius: 15px;
    padding: 10px 25px;
 }
 .sect .form-control #error{
    color: red;
    display: none;
    font-size: 12px;
 }
 .tally-wrapper{
    margin-top: 20px;
 }

 .tally-container{
    background-color: #002343;
    padding: 25px;
    color: snow;
    display: grid;
    grid-template-columns: 2.5fr 0.5fr;
    border-radius: 15px;
 }
 .tally-container h3{
    font-size:14px;
 }
 .target{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #fbb117;
 }
